@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
.top__text::after,
.service__items--comments::after
{
    position: absolute;
    bottom: 5px;
    left: 0;

    display: block;

    width: 100%;

    content: '';

    opacity: .5;
    border-bottom: 7px solid #f1b4b4;
}

*,
*::before,
*::after
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body
{
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
}

body
{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;

    overflow-x: hidden;

    color: #333;
    background: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-wrap: break-word;
}

img
{
    display: block;

    max-width: 100%;
    height: auto;

    border: none;
}

ul,
li
{
    margin: 0;
    padding: 0;

    list-style-type: none;
}

a
{
    text-decoration: none;

    color: inherit;
}

.section__title
{
    font-family: 'Open Sans', sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1;

    position: relative;

    text-align: center;
}

.section__title::after
{
    position: absolute;
    bottom: -8px;
    left: 50%;

    display: block;

    width: 40px;

    content: '';
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);

    border-bottom: 4px solid #f1b4b4;
}

.inner
{
    width: 1200px;
    max-width: 100%;
    height: inherit;
    margin: 0 auto;
}

.util__link
{
    font-weight: 700;
    line-height: 44px;

    width: 120px;
    height: 50px;
    margin: 0 auto;

    text-align: center;
}

.util__link a
{
    display: block;

    width: 100%;
    height: 100%;

    -webkit-transition: all .5s ease 0s;
            transition: all .5s ease 0s;

    border: 3px solid #333;
}

.util__link a:hover
{
    color: #fff;
    border: 3px solid #fff;
    background: #333;
}

.util__floating
{
    position: fixed;
    right: 30px;
    bottom: 30px;

    width: 50px;
    height: 50px;

    -webkit-transition: all .8s ease 0s;
            transition: all .8s ease 0s;

    opacity: 0;
    border: 1px solid #333;
    background: #333;
}

.util__floating::before
{
    position: absolute;
    top: 20px;
    left: 17px;

    display: block;

    width: 15px;
    height: 15px;

    content: '';
    -webkit-transition: opacity 1s ease 0s;
            transition: opacity 1s ease 0s;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);

    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
}

.util__floating.is-show
{
    opacity: 1;
}

.header
{
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;

    width: 100%;
    height: 100px;
}

.header.is-white
{
    border-bottom: 1px solid #e1f4f8;
    background: #fff;
}

.header__title
{
    width: 80px;
    height: auto;

    -webkit-transition: opacity .5s ease 0s;
            transition: opacity .5s ease 0s;
}

.header__title img
{
    width: 100%;
}

.header__title:hover
{
    cursor: pointer;

    opacity: .6;
}

.header__inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__nav
{
    margin-left: auto;

    -webkit-transition: all .5s ease 0s;
            transition: all .5s ease 0s;
}

.header__nav--list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: inherit;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__nav--item
{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.header__nav--item + .header__nav--item
{
    margin-left: 40px;
}

.header__nav--link
{
    position: relative;

    display: inline-block;

    -webkit-transition: all .5s ease 0s;
            transition: all .5s ease 0s;
}

.header__nav--link:hover
{
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);

    opacity: .8;
    color: #f1b4b4;
}

.header__drawer
{
    position: fixed;
    z-index: 40;
    top: 20px;
    right: 15px;

    display: none;

    -webkit-transition: all .5s ease 0s;
            transition: all .5s ease 0s;

    background: transparent;
}

.header__drawer.is-checked
{
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
}

.header__drawer:hover
{
    cursor: pointer;
}

.header__drawer--bars
{
    position: relative;

    display: inline-block;

    width: 30px;
    height: 30px;
}

.header__drawer--bar
{
    position: absolute;
    right: 0;

    display: block;

    width: 100%;
    height: 4px;

    background: #333;
}

.header__drawer--bar:nth-of-type(1)
{
    top: 0;
}

.header__drawer--bar:nth-of-type(2)
{
    top: 8px;
}

.header__drawer--bar:nth-of-type(3)
{
    top: 16px;
}

.is-checked .header__drawer--bar:nth-of-type(1)
{
    top: 10px;

    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.is-checked .header__drawer--bar:nth-of-type(2)
{
    background: transparent;
}

.is-checked .header__drawer--bar:nth-of-type(3)
{
    top: 10px;

    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.header__drawer-bg
{
    position: fixed;
    z-index: 39;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    -webkit-transition: all .5s ease 0s;
            transition: all .5s ease 0s;

    background: #333;
}

.header__drawer-bg.is-checked
{
    display: block;

    opacity: .5;
}

.footer
{
    padding: 40px 0 20px;

    background: #e1f4f8;
}

.footer__foreign-link
{
    width: 25%;
    margin-right: auto;
}

.footer__foreign-link p::after
{
    display: block;

    width: 100%;

    content: '';

    border-bottom: 1px solid #333;
}

.footer__foreign-link ul
{
    margin-top: 10px;
}

.footer__foreign-link li
{
    font-size: 1rem;

    padding-left: 10px;
}

.footer__foreign-link li:hover
{
    opacity: .6;
}

.footer__copyright
{
    text-align: center;
}

.top
{
    height: 400px;

    background: url(../img/top-bg.png);
    background-position: top;
    background-size: cover;
}

.top__inner
{
    position: relative;

    width: 100%;
    height: 100%;
}

.top__text
{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.profile
{
    padding: 70px 0;
}

.profile__inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 40px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.profile__icon
{
    width: 200px;
    height: 200px;
}

.profile__icon img
{
    height: 100%;

    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px 2px rgba(2, 174, 218, .28);
            box-shadow: 0 0 10px 2px rgba(2, 174, 218, .28);

    -o-object-fit: cover;
       object-fit: cover;
}

.profile__context
{
    margin-left: 50px;

    letter-spacing: .8px;
}

.profile__name
{
    font-size: 2.4rem;
    font-weight: 700;
}

.profile__overview
{
    margin-top: 20px;
}

.profile__intro
{
    margin-top: 20px;
}

.profile__bullets
{
    position: relative;

    padding-left: 40px;
}

.profile__bullets::before
{
    position: absolute;
    top: 0;
    left: 10px;

    display: block;

    content: '=>';
}

.profile__sns
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 20px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.profile__sns a
{
    width: 50px;

    -webkit-transition: all .5s ease 0s;
            transition: all .5s ease 0s;
}

.profile__sns a:hover
{
    opacity: .6;
}

.profile__sns a:first-child
{
    margin-right: 20px;
}

.service
{
    padding: 70px 0;

    background: #e1f4f8;
}

.service__inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 40px;
    margin-bottom: 40px;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.service__items
{
    position: relative;

    width: 40%;
    height: 300px;
    margin-right: auto;

    background: url(../img/balloon/service-comment.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.service__items--list
{
    position: absolute;
    top: 40px;
    left: 50%;

    width: 100%;

    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.service__items--list li
{
    line-height: 1.8;

    width: 50%;
    margin: 0 auto;
}

.service__items--list li:nth-child(even)
{
    padding-left: 50px;
}

.service__items--comments
{
    font-size: 2rem;
    font-weight: 700;

    position: absolute;
    right: 0;
    bottom: -20px;
}

.service__context
{
    width: 60%;
    margin-right: auto;
}

.service__img
{
    width: 150px;
    margin: 0 auto;
}

.service__text
{
    line-height: 2;

    margin-top: 30px;
}

.service__link
{
    margin-top: 100px;
}

.skill
{
    padding: 70px 0;
}

.skill__inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 40px;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.skill__text
{
    line-height: 2;

    letter-spacing: .8px;
}

.skill__text--comment
{
    font-size: 1.4rem;
    line-height: 1.6;

    position: relative;

    display: inline-block;

    margin: 60px 0 0 120px;
    padding: 12px 8px;

    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    background: #f1b4b4;
}

.skill__text--comment::before,
.skill__text--comment::after
{
    position: absolute;

    display: block;

    content: '';

    border: 1px solid #fff;
    border-radius: 50%;
    background: #f1b4b4;
}

.skill__text--comment::before
{
    top: -50px;
    left: -50px;

    width: 15px;
    height: 15px;
}

.skill__text--comment::after
{
    top: -30px;
    left: -30px;

    width: 30px;
    height: 30px;
}

.skill__imgs
{
    margin-left: auto;
}

.skill__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.skill__list + .skill__list
{
    margin-top: 30px;
}

.skill__item
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;

    text-align: center;
}

.skill__item img
{
    width: 80px;
}

.skill__item + .skill__item
{
    margin-left: 50px;
}

.works
{
    padding: 70px 0;

    background: #e1f4f8;
}

.works__inner
{
    margin-top: 40px;
}

.works__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.works__item
{
    overflow: hidden;

    width: calc(((100% - (30px * (4 - 1))) / 4) - 1px);
    margin-top: 30px;

    -webkit-transition: all .5s ease 0s;
            transition: all .5s ease 0s;
}

.works__item:not(:nth-child(4n+1))
{
    margin-left: 30px;
}

.works__item p
{
    margin-top: 20px;

    text-align: center;
}

.works__item:hover .works__img::before
{
    opacity: .7;
}

.works__item:hover .works__img::after
{
    opacity: 1;
}

.works__item:hover .works__img img
{
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
}

.works__img
{
    position: relative;

    overflow: hidden;

    width: 95%;
    margin: 5px auto 0;

    border: .1px solid #afadad;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px 0 #afadad;
            box-shadow: 0 0 5px 0 #afadad;
}

.works__img img
{
    -webkit-transition: all .5s ease 0s;
            transition: all .5s ease 0s;
}

.works__img::before,
.works__img::after
{
    position: absolute;

    -webkit-transition: all .5s ease 0s;
            transition: all .5s ease 0s;

    opacity: 0;
}

.works__img::before
{
    z-index: 15;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: #333;
}

.works__img::after
{
    font-weight: 700;

    z-index: 16;
    top: 50%;
    left: 50%;

    content: 'CLICK';
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    color: #fff;
}

.works__basic
{
    font-size: 1rem;

    margin-top: 20px;

    text-align: center;
}

.contact
{
    padding: 70px 0;
}

.contact__inner
{
    width: 54.6875%;
    margin-top: 40px;
}

.contact__item--title
{
    position: relative;
}

.contact__item--title.is-required::after
{
    font-size: 1.0rem;

    position: absolute;
    top: 5px;

    display: inline-block;

    content: 'ï¼Š';

    color: #e81919;
}

.contact__item--description
{
    margin-top: 2px;
}

.contact__item--description input
{
    width: 100%;
    height: 40px;
    padding: 0 10px;

    border: none;
    border-bottom: 1px solid #333;
}

.contact__item--description input:hover,
.contact__item--description input:focus
{
    border-bottom: 1px solid #5cc2f2;
    outline: none;
    -webkit-box-shadow: 0 5px 5px -5px #5cc2f2;
            box-shadow: 0 5px 5px -5px #5cc2f2;
}

.contact__item--description textarea
{
    width: 100%;
    height: 150px;
    margin-top: 15px;
    padding: 3px 10px;

    border: 1px solid #333;
}

.contact__item--description textarea:hover,
.contact__item--description textarea:focus
{
    border: 1px solid #5cc2f2;
    outline: none;
    -webkit-box-shadow: 0 0 5px 0 #5cc2f2;
            box-shadow: 0 0 5px 0 #5cc2f2;
}

.contact__item--description input[type='radio']
{
    display: none;
}

.contact__item--description input[type='radio']:checked + label::before
{
    background: #5cc2f2;
}

.contact__item--description.is-request
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 10px;
}

.contact__item--description.is-request div
{
    margin-left: 50px;
}

.contact__item--description.is-request div:first-child
{
    margin-left: 30px;
}

.contact__item--description.is-request label
{
    position: relative;

    -webkit-transition: opacity .5s ease 0s;
            transition: opacity .5s ease 0s;
}

.contact__item--description.is-request label:hover
{
    cursor: pointer;

    opacity: .6;
}

.contact__item--description.is-request label::before,
.contact__item--description.is-request label::after
{
    position: absolute;

    display: block;

    content: '';
    -webkit-transition: all .3s ease 0s;
            transition: all .3s ease 0s;

    border-radius: 50%;
}

.contact__item--description.is-request label::before
{
    top: 5px;
    left: -20px;

    width: 16px;
    height: 16px;

    border: 1px solid #333;
}

.contact__item--description.is-request label::after
{
    top: 10px;
    left: -15px;

    width: 6px;
    height: 6px;

    background: #fff;
}

.contact__item + .contact__item
{
    margin-top: 20px;
}

.contact__submit
{
    display: block;

    width: 100px;
    height: 30px;
    margin: 50px auto 0;

    -webkit-transition: opacity .5s ease 0s;
            transition: opacity .5s ease 0s;
}

.contact__submit:not(:disabled)
{
    color: #fff;
    border: 1px solid #5cc2f2;
    background: #5cc2f2;
}

.contact__submit:not(:disabled):hover
{
    opacity: .6;
}

.contact__submit:disabled
{
    color: #333;
    border: 1px solid #333;
    background: #fff;
}

@media (min-width: 560px) and (max-width: 959px)
{
    .section__title
    {
        font-size: 3.2rem;
    }
    .inner
    {
        width: 720px;
    }
    .display-only-sp
    {
        display: none;
    }
    .hidden-tab
    {
        display: none;
    }
    .header__nav--item
    {
        font-size: 1.8rem;
    }
    .header__nav--item + .header__nav--item
    {
        margin-left: 25px;
    }
}

@media (max-width: 559px)
{
    .section__title
    {
        font-size: 2.4rem;
    }
    .inner
    {
        width: 345px;
    }
    .display-only-tab
    {
        display: none;
    }
    .hidden-sp
    {
        display: none;
    }
    .util__link
    {
        line-height: 44px;

        width: 120px;
        height: 50px;
    }
    .header
    {
        height: 60px;
    }
    .header__title
    {
        width: 50px;
    }
    .header__nav
    {
        position: fixed;
        z-index: 40;
        top: 0;
        right: 0;

        width: 300px;
        height: 100%;

        -webkit-transform: translateX(105%);
                transform: translateX(105%);

        background: #fff;
    }
    .header__nav.is-checked
    {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    .header__nav--list
    {
        display: block;
    }
    .header__nav--item
    {
        font-size: 1.6rem;

        margin-top: 30px;

        text-align: center;
    }
    .header__nav--item + .header__nav--item
    {
        margin: 10px 0 0 0;
    }
    .header__drawer
    {
        display: block;
    }
    .profile
    {
        padding: 30px 0;
    }
}

@media (max-width: 959px)
{
    .display-only-pc
    {
        display: none;
    }
}

@media (min-width: 960px)
{
    .display-only-tab
    {
        display: none;
    }
    .display-only-sp
    {
        display: none;
    }
    .hidden-pc
    {
        display: none;
    }
}
