.profile {
	padding: 70px 0;

	@include mq(sp) {
		padding: 30px 0;
	}

	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 40px;
		// width:(*px / $layout-width-canvas-pc) * 100%;
		// padding: 0 *px 0 *px;

		@include mq(tab-only) {
			// width:(*px / $layout-width-canvas-tab) * 100%;
			// padding: 0 *px 0 *px;
		}
		@include mq(sp) {
			// width:(*px / $layout-width-canvas-sp) * 100%;
			// padding: 0 *px 0 *px;
		}
	}

	&__title {
		// 
	}
	&__icon {
		width: 200px;
		height: 200px;



		img {
			height: 100%;
			border-radius: 50%;
			// box-shadow: 3px 3px 10px 3px rgba(2,174,218,0.05);
			// box-shadow: 3px 3px 10px 3px rgba(2,174,218,0.28);
			// box-shadow: 0px 0px 10px 3px rgba(2,174,218,0.28);
			box-shadow: 0px 0px 10px 2px rgba(2,174,218,.28);

			object-fit: cover;
		}
	}
	&__context {
		margin-left: 50px;
		font-size: 1.4rem;
	}
	&__name {
		font-weight: $font-weight-bold;
		font-size: 2.4rem;
	}
	&__overview {
		margin-top: 20px;
	}
	&__intro {
		margin-top: 20px;
	}
	&__bullets {
		position: relative;
		padding-left: 40px;
		&::before {
			display: block;
			position: absolute;
			top: 0;
			left: 10px;
			content: '=>';
		}
	}

	&__sns {
		display: flex;
		justify-content: center;
		margin-top: 20px;
		a {
			width: 50px;
			transition: all .5s ease 0s;
			&:hover {
				opacity: .6;
			}
			&:first-child {
				margin-right: 20px;
			}
		}
	}
}
