.service {
	@extend %section-padding;	
	background: #e1f4f8;
	
	&__inner {
		display: flex;
		align-items: center;
		margin-top: 40px;
		margin-bottom: 40px;
		@include mq(tab) {
			display: block;
		}
	}

	&__items {
		position: relative;
		width: 40%;
		height: 300px;
		margin-right: auto;
		background: url(../img/balloon/service-comment.png);
		background-size: contain;
		background-repeat: no-repeat;
		
		// タブレット以下では表示しない
		@include mq(tab) {
			display: none;
		}

		&--list {
			position: absolute;
			top: 40px;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			li {
				width: 50%;
				margin: 0 auto;
				line-height: 1.8;

				&:nth-child(even) {
					// 偶数番目だけずらす
					padding-left: 50px;
				}
			}
		}

		&--comments {
			position: absolute;
			right: 0;
			bottom: -20px;
			font-weight: $font-weight-bold;
			font-size: 2rem;

			@extend %under-line-red;
		}
	}

	&__context {
		width: 60%;
		margin-right: auto;
		@include mq(tab) {
			width: 100%;
			margin: 0 auto;
		}
	}
	&__img {
		width: 150px;
		margin: 0 auto;
	}
	&__text {
		margin-top: 30px;
		line-height: 2;
		@include mq(sp) {
			font-size: 1.2rem;
		}
	}
	&__link {
		margin-top: 100px;
		@include mq(tab) {
			margin-top: 30px;
		}
	}
}
