.works {
	@extend %section-padding;
	background: #e1f4f8;

	$works-item-margin-pc: 30px;
	$works-item-num-pc: 4;
	$works-item-margin-tab: 25px;
	$works-item-num-tab: 3;
	$works-item-margin-sp: 10px;
	$works-item-num-sp: 2;

	&__inner {
		margin-top: 40px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		margin-top: 30px;
		overflow: hidden;
		transition: all .5s ease 0s;
		
		// 左端のだけはmarginを当てない
		@include mq(pc) {
			width: calc(((100% - (#{$works-item-margin-pc} * (#{$works-item-num-pc} - 1))) / #{$works-item-num-pc}) - 1px);
			&:not(:nth-child(#{$works-item-num-pc}n+1)) {
				margin-left: $works-item-margin-pc;
			}
		}
		@include mq(tab-only) {
			width: calc(((100% - (#{$works-item-margin-tab} * (#{$works-item-num-tab} - 1))) / #{$works-item-num-tab}) - 1px);
			&:not(:nth-child(#{$works-item-num-tab}n+1)) {
				margin-left: $works-item-margin-tab;
			}
		}
		@include mq(sp) {
			width: calc(((100% - (#{$works-item-margin-sp} * (#{$works-item-num-sp} - 1))) / #{$works-item-num-sp}) - 1px);
			&:not(:nth-child(#{$works-item-num-sp}n+1)) {
				margin-left: $works-item-margin-sp;
			}
			font-size: 1.2rem;
		}

		p {
			margin-top: 20px;
			text-align: center;
			@include mq(sp) {
				margin-top: 10px;
			}
		}
		&:hover {
			// item全体をクリックしたとき
			// 画像を拡大 ＆ 黒くする
			.works__img {
				&::before {
					opacity: .7;
				}
				&::after {
					opacity: 1;
				}
				img {
					transform: scale(1.03);
				}
			}
		}
	}
	&__img {
		position: relative;
		width: 95%;
		margin: 5px auto 0;
		overflow: hidden;
		border: .1px solid $gray;
		border-radius: 10px;
		box-shadow: 0px 0px 5px 0px $gray;

		img {
			transition: all .5s ease 0s;
		}

		&::before,
		&::after {
			opacity: 0;
			position: absolute;
			transition: all .5s ease 0s;
		}
		&::before {
			top: 0;
			left: 0;
			z-index: map-get($layer, works-item-bg);
			width: 100%;
			height: 100%;
			background: $black;
			content: '';
		}
		&::after {
			top: 50%;
			left: 50%;
			z-index: map-get($layer, works-item-bg-text);
			transform: translate(-50%,-50%);
			color: $white;
			font-weight: $font-weight-bold;
			content: 'CLICK';
		}
	}

	&__basic {
		margin-top: 20px;
		font-size: 1rem;
		text-align: center;
	}
}
