.works {
	padding: 70px 0;
	background: #e1f4f8;

	&__inner {
		margin-top: 40px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		width: calc(((100% - (30px * 3)) / 4) - 1px);
		margin-top: 30px;
		overflow: hidden;
		transition: all .5s ease 0s;
		// 左端の
		&:not(:nth-child(4n+1)) {
			margin-left: 30px;
		}
		p {
			margin-top: 10px;
			text-align: center;
		}
		&:hover {
			// item全体をクリックしたとき
			// 画像を拡大 ＆ 黒くする
			.works__img {
				&::before {
					opacity: .7;
				}
				&::after {
					opacity: 1;
				}
				img {
					transform: scale(1.03);
				}
			}
		}
	}
	&__img {
		position: relative;
		width: 95%;
		margin: 5px auto 0;
		overflow: hidden;
		border: .1px solid $gray;
		border-radius: 10px;
		box-shadow: 0px 0px 5px 0px $gray;

		img {
			transition: all .5s ease 0s;
		}

		&::before,
		&::after {
			opacity: 0;
			position: absolute;
			transition: all .5s ease 0s;
		}
		&::before {
			top: 0;
			left: 0;
			z-index: map-get($layer, works-item-bg);
			width: 100%;
			height: 100%;
			background: $black;
			content: '';
		}
		&::after {
			top: 50%;
			left: 50%;
			z-index: map-get($layer, works-item-bg-text);
			transform: translate(-50%,-50%);
			color: $white;
			font-weight: $font-weight-bold;
			content: 'CLICK';
		}
	}
}
